.example-viewport {
    height: 67vh;
    width: 100%;
    // border: 1px solid black;
  }
  
  .example-item {
    height: 50px;
    border-top: 1px solid rgba(0,0,0,.06);
    padding: 20px 8px;
    vertical-align: middle;
    font-size: 130%;
  }