<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title ">File List</h4>
                        <p class="card-category">Octoprint lists {{list.files.length}} files</p>
                    </div>
                    <div class="card-body" style="height: 70vh">
                        <div class="table-responsive">
                            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
                                <div *cdkVirtualFor="let item of list.files" class="example-item">
                                    <div class="row">
                                        <div class="col-md-10">

                                            <span class="file-item">{{item.display}}</span>
                                        </div>
                                        <div class="col-md-2"><button type="button" class="btn btn-default"
                                                aria-label="Left Align">
                                                <i class="mdi mdi-printer mdi-button"></i>
                                            </button>
                                            <button type="button" class="btn btn-default" aria-label="Left Align">
                                                <i class="mdi mdi-close mdi-button"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                        </cdk-virtual-scroll-viewport>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>