.example-viewport {
    height: 67vh;
    width: 100%;
    // border: 1px solid black;
  }

  .file-item{
    top: 30px;
    position: relative;
  }
  
  .example-item {
    height: 80px;
    border-top: 1px solid rgba(0,0,0,.06);
    vertical-align: middle;
    font-size: 130%;

    .btn{
      font-size: 28px;
    }
  }
  